<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Danh sách sản phẩm</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css')}}">
</head>
<body>
<div class="container">
    <h1 class="subject">DANH MỤC SẢN PHẨM</h1>
    <form action="">
        <input type="text" name="keyword" placeholder="Nhập từ khóa muốn tìm...">
        <input type="number" name="from_price" placeholder="Nhap gia dau">
        <input type="number" name="to_price" placeholder="Nhap gia cuoi">
        <input type="submit" value="Tìm">
    </form>
    <table border="1" class="product">
        <tr>
            <th></th>
            <th>Ma SP</th>
            <th>Ten SP</th>
            <th>Mo ta</th>
            <th>Gia ban</th>
        </tr>
        {% for p in products %}
        <tr>
            <td><a href="{{url_for('product_detail', product_id=p.id)}}">
                <img src="{{p.image}}" style="width: 120px;" alt=""></a></td>
            <td>{{p.id}}</td>
            <td>{{p.name}}</td>
            <td>{{p.description}}</td>
            <td>{{"{:,.1f}".format(p.price)}} VND</td>
        </tr>
        {% endfor %}
    </table>
</div>
</body>
</html>