{% extends 'admin/master.html' %}

{% block body %}
{% if current_user.is_authenticated and current_user.user_role == UserRole.ADMIN %}
<br>
<h1>Welcome <span class="text-info">{{current_user.name}}</span></h1>
<br>
<div class="row">
    <div class="col-md-6 col-xs-12">
        <table class="table">
            <tr>
                <th>Mã danh mục</th>
                <th>Tên danh mục</th>
                <th>Số lượng sản phẩm</th>
            </tr>
            {% for s in stats %}
            <tr>
                <td>{{ s[0] }}</td>
                <td>{{ s[1] }}</td>
                <td>{{ s[2] }}</td>
            </tr>
            {%endfor%}
        </table>
    </div>
    <div class="col-md-6 col-xs-12">
       <canvas id="myCategoryChart"></canvas>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    let labels =[], info = []
    let colors = []
    let borderColors = []
    let r, g, b;

    {% for s in stats %}
        labels.push('{{ s[1] }}')
        info.push({{ s[2] }})
        r = Math.random() * 255
        g = Math.random() * 255
        b = Math.random() * 255

        colors.push(`rgba(${r}, ${g}, ${b}, 0.2)`)
        borderColors.push(`rgba(${r}, ${g}, ${b}, 1)`)
    {%endfor%}
    window.onload = function() {
        const ctx = document.getElementById('myCategoryChart').getContext('2d');
        new Chart(ctx, {
            type: 'doughnut',
            data: {
              labels: labels,
              datasets: [{
                label: 'Thống kê số sản phẩm theo danh mục',
                data: info,
                backgroundColor: colors,
                borderColor: borderColors,
                borderWidth: 1
              }]
            },
            options: {
              scales: {
                y: {
                  beginAtZero: true
                }
              }
            }
          });
    }
</script>

{% else %}
<h1 class="text-center text-danger"><b>ĐĂNG NHẬP QUẢN TRỊ</b></h1>
<br>
<div style=" width: 100%; display: flex; justify-content: center;">
    <form style=" width: 40%;  background-color: #f8f9fa;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);" method="post" action="{{ url_for('signin_admin')}}">
    <div class="from-group">
        <label for="username">Username</label>
        <input type="text" id="username" name="username" class="form-control" required/>
    </div>
    <br>
    <div class="from-group">
        <label for="password">Password</label>
        <input type="password" id="password" name="password" class="form-control" required/>
    </div>
    <br>
    <input type="submit" value="Đăng nhập" class="btn btn-danger"/>
</form>
</div>

{% endif %}
{% endblock %}

